[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
	default = nothing 
[merge]
	conflictstyle = diff3
    tool = vimdiff
[user]
	email = konstantinos.iliakis@cern.ch
	name = Konstantinos Iliakis
[mergetool]
	promt = false
